@font-face {
	font-family: 'Avenir';
	font-style: normal;
	font-weight: normal;
	src: url('../assets/Fonts/AvenirLTStd-Medium.woff') format('woff');
}

$blue: #059ece;
$lightBlue: #4bc8dd;
$darkBlue: #4b74b5;
$blueGreen: #6accc0;
$green: #42c697;
$orange: #f4b571;
$magenta: #d6639d;
$purple: #916fb5;
$red: #ef6c6c;
$yellow: #f7db63;
$white: #ffffff;
$navy: #3D4957;
$darkPurple: #2c2238;

body {
  font-family: 'Avenir';
}

.text-l {
	font-weight: lighter;
}

.bgBlue {
    background-color: $blue;
}
.bgLightBlue {
    background-color: $lightBlue;
}
.bgDarkBlue {
    background-color: $darkBlue;
}
.bgBlueGreen {
    background-color: $blueGreen;
}
.bgGreen {
    background-color: $green;
}
.bgOrange {
    background-color: $orange;
}
.bgMagenta {
    background-color: $magenta;
}
.bgPurple {
    background-color: $purple;
}
.bgRed {
    background-color: $red;
}
.bgYellow {
    background-color: $yellow;
}
.bgNavy {
    background-color: $navy;
}

.mSmall {
	margin: 5;
}
.mMedium {
	margin: 8;
}
.mLarge {
	margin: 10;
}
.mXLarge {
	margin: 15;
}
.mXxLarge {
	margin: 20;
}
.mXxxLarge {
	margin: 30;
}

.mlSmall {
	margin-left: 5;
}
.mlMedium {
	margin-left: 8;
}
.mlLarge {
	margin-left: 10;
}
.mlXLarge {
	margin-left: 15;
}
.mlXxLarge {
	margin-left: 20;
}
.mlXxxLarge {
	margin-left: 30;
}


.mrSmall {
	margin-right: 5;
}
.mrMedium {
	margin-right: 8;
}
.mrLarge {
	margin-right: 10;
}
.mrXLarge {
	margin-right: 15;
}
.mrXxLarge {
	margin-right: 20;
}
.mrXxxLarge {
	margin-right: 30;
}

.mtSmall {
	margin-top: 5;
}
.mtMedium {
	margin-top: 8;
}
.mtLarge {
	margin-top: 10;
}
.mtXLarge {
	margin-top: 15;
}
.mtXxLarge {
	margin-top: 20;
}
.mtXxxLarge {
	margin-top: 30;
}

.mbSmall {
	margin-bottom: 5;
}
.mbMedium {
	margin-bottom: 8;
}
.mbLarge {
	margin-bottom: 10;
}
.mbXLarge {
	margin-bottom: 15;
}
.mbXxLarge {
	margin-bottom: 20;
}
.mbXxxLarge {
	margin-bottom: 30;
}

 
.pSmall {
	padding: 5;
}
.pMedium {
	padding: 8;
}
.pLarge {
	padding: 10;
}
.pXLarge {
	padding: 15;
}
.pXxLarge {
	padding: 20;
}
.pXxxLarge {
	padding: 30;
}

.plSmall {
	padding-left: 5;
}
.plMedium {
	padding-left: 8;
}
.plLarge {
	padding-left: 10;
}
.plXLarge {
	padding-left: 15;
}
.plXxLarge {
	padding-left: 20;
}
.plXxxLarge {
	padding-left: 30;
}

.prSmall {
	padding-right: 5;
}
.prMedium {
	padding-right: 8;
}
.prLarge {
	padding-right: 10;
}
.prXLarge {
	padding-right: 15;
}
.prXxLarge {
	padding-right: 20;
}
.prXxxLarge {
	padding-right: 30;
}

.brSmall {
	border-radius: 5;
}
.brMedium {
	border-radius: 8;
}
.brLarge {
	border-radius: 10;
}
.brXLarge {
	border-radius: 15;
}


.textWhite {
    color: $white;
}
.textBlue {
    color: $blue;
}
.textLightBlue {
    color: $lightBlue;
}
.textDarkBlue {
    color: $darkBlue;
}
.textBlueGreen {
    color: $blueGreen;
}
.textGreen {
    color: $green;
}
.textOrange {
    color: $orange;
}
.textMagenta {
    color: $magenta;
}
.textPurple {
    color: $purple;
}
.textRed {
    color: $red;
}
.textYellow {
    color: $yellow;
}
.textNavy {
    color: $navy;
}
.textDarkPurple {
    color: $darkPurple;
}

.textSmall {
	font-size: 12;
}
.textMedium {
	font-size: 16;
}
.textLarge {
	font-size: 20;
}
.textXLarge {
	font-size: 22;
}
.textXxLarge {
	font-size: 26;
}
.textXxxLarge {
	font-size: 32;
}

.h10 {
	height: 10;
}
.h20 {
	height: 20;
}
.h30 {
	height: 30;
}
.h40 {
	height: 40;
}
.h50 {
	height: 50;
}

.textInputLarge {
  	height: 35px;
  	width: 200px;
  	border-radius: 4px;
  	background-color: $white;
    font-family: Avenir;
    font-size: 16;
  	margin: 5px;
  	padding-left: 40px;
  	padding-right: 40px;
  	padding: 5px;
  	border: none;
  	font-weight: lighter;
}

.buttonLarge {
	height: 35px;
	width: 200px;
	border-radius: 4px;
	margin: 5px;
    font-size: 16;
    border: none;
    text-align: center;
}

input {
	font-weight: lighter;
}

body {
  font-family: 'Avenir';
  margin: 0 !important;
  padding: 0 !important;
}

.flex-col {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction:         column;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction:         row;
}

.h-full {
	height: 100%;
}

.c-h {
	justify-content: center;
}

.c-v {
	align-items: center;
}

.c {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logo {
	height: 150px;
	width: 150px;
}