@font-face {
	font-family: 'Avenir';
	font-style: light;
	font-weight: light;
	src: url('../assets/Fonts/AvenirLTStd-Medium.woff') format('woff');
}

$blue: #059ece;
$lightBlue: #4bc8dd;
$darkBlue: #4b74b5;
$blueGreen: #6accc0;
$green: #42c697;
$orange: #f4b571;
$magenta: #d6639d;
$purple: #916fb5;
$red: #ef6c6c;
$yellow: #f7db63;
$white: #ffffff;
$navy: #3D4957;
$darkPurple: #2c2238;
$grey: #B1B1B1;

body {
  font-family: 'Avenir';
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0; 
}

.text-l {
	font-weight: light;
}

.textPurple {
  color: $purple;
}

.textWhite {
	color: $white;
}

.textGreen {
  color: $green;
}

.textBlue {
  color: $blue;
}

.textLightBlue {
  color: $lightBlue;
}

.textMagenta {
  color: $magenta;
}

.bgBlue {
    background-color: $blue;
}
.bgLightBlue {
    background-color: $lightBlue;
}
.bgDarkBlue {
    background-color: $darkBlue;
}
.bgBlueGreen {
    background-color: $blueGreen;
}
.bgGreen {
    background-color: $green;
}
.bgOrange {
    background-color: $orange;
}
.bgMagenta {
    background-color: $magenta;
}
.bgPurple {
    background-color: $purple;
}
.bgRed {
    background-color: $red;
}
.bgYellow {
    background-color: $yellow;
}
.bgNavy {
    background-color: $navy;
}

.mt0-5 {
  margin-top: 0.5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.pt3 {
  padding-top: 3rem;
}

.ml1 {
  margin-left: 1rem;
}

.ml3 {
  margin-left: 3rem;
}

.mr3 {
  margin-right: 3rem;
}

.textGrey {
  color: $grey;
}

.text0-9 {
  font-size: 0.9rem
}

.text1-2 {
  font-size: 1.2rem;
}

.text2 {
  font-size: 2rem;
}

.h10 {
	height: 10rem;
}
.h20 {
	height: 20rem;
}
.h30 {
	height: 30rem;
}
.h40 {
	height: 40rem;
}
.h50 {
	height: 50rem;
}

.textInputLarge {
  	width: 20rem;
  	border-radius: 0.25rem;
  	background-color: $white;
    font-size: 0.9rem;
  	margin: 0.25rem;
  	padding-left: 0.5rem;
  	padding-right: 0.5rem;
  	padding: 0.7rem;
  	border: none;
    font-weight: light !important;
}

.buttonLarge {
	width: 20rem;
	border-radius: 0.25rem;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
	margin: 0.25rem;
  font-size: 0.9rem;
  border: none;
  text-align: center;
  cursor: pointer;
  font-weight: light !important;
}

*:focus {
    outline: 0;
}

input {
	font-weight: light;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.flex-col {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction:         column;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction:         row;
}

.h-full {
	height: 100%;
}

.login-bg {
  height: 100%;
  background-image: linear-gradient(
      rgba(5, 158, 206, 1.0), 
      rgba(5, 158, 206, 0.6)
    ), url("../assets/classroom1.jpg");
  background-size: cover;
  background-position: 0rem 0rem;
}

.card-header {
  padding: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 29rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-body {
  padding: 0.5rem;
  width: 28.9rem;
  border-left-width: 0.1rem;
  border-left-style: solid;
  border-left-color: #ccc;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  border-right-width: 0.1rem;
  border-right-style: solid;
  border-right-color: #ccc;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.br-0-25 {
  border-radius: 0.25rem;
}

.sizeIcon {
  height: 30px;
  width: 30px
}

.sizeIconSmall {
  height: 20px;
  width: 20px
}

.p-0-25 {
  padding: 0.25rem;
}

.p-0-5 {
  padding: 0.5rem;
}

.textRight {
  text-align: right;
}

.floatRight {
  float: right;
}

.header {
  width: 100%;
  height: 20rem;
  background-image: linear-gradient(
      rgba(5, 158, 206, 0.9), 
      rgba(5, 158, 206, 0.45)
    ), url("../assets/classroom.jpg");
  background-size: cover;
  background-position: 0rem 0rem;
}

.c-h {
	justify-content: center;
}

.c-v {
	align-items: center;
}

.p {
	cursor: pointer;
}

.c {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logo {
	height: 150px;
	width: 150px;
}