@font-face {
  font-family: 'Avenir';
  src: url("../assets/Fonts/ProximaNova/ProximaNovaSoft/webFonts/proximanovasoft-regular.woff") format("woff"); }

body {
  font-family: 'Avenir';
  font-size: 1rem; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0; }

.navLink {
  color: #059ece;
  transition: 0.1s; }

.navLink:hover {
  color: #333;
  transition: 0.1s; }

.text-l {
  font-weight: light; }

.textPurple {
  color: #916fb5; }

.textWhite {
  color: #ffffff; }

.textDarkBlue {
  color: #4b74b5; }

.textGreen {
  color: #42c697; }

.textRed {
  color: #ef6c6c; }

.textBlue {
  color: #059ece; }

.textLightBlue {
  color: #4bc8dd; }

.textMagenta {
  color: #d6639d; }

.bgBlue {
  background-color: #059ece; }

.bgLightBlue {
  background-color: #4bc8dd; }

.bgDarkBlue {
  background-color: #4b74b5; }

.bgBlueGreen {
  background-color: #6accc0; }

.bgGreen {
  background-color: #42c697; }

.bgOrange {
  background-color: #f4b571; }

.bgMagenta {
  background-color: #d6639d; }

.bgPurple {
  background-color: #916fb5; }

.bgRed {
  background-color: #ef6c6c; }

.bgYellow {
  background-color: #f7db63; }

.bgNavy {
  background-color: #3D4957; }

.mt0-5 {
  margin-top: 0.5rem; }

.mt1 {
  margin-top: 1rem; }

.mt2 {
  margin-top: 2rem; }

.mt3 {
  margin-top: 3rem; }

.mb1 {
  margin-bottom: 1rem; }

.mb3 {
  margin-bottom: 3rem; }

.pt3 {
  padding-top: 3rem; }

.ml1 {
  margin-left: 1rem; }

.ml3 {
  margin-left: 3rem; }

.mr3 {
  margin-right: 3rem; }

.textGrey {
  color: #B1B1B1; }

.text0-9 {
  font-size: 0.9rem; }

.text1-2 {
  font-size: 1.2rem; }

.text2 {
  font-size: 2rem; }

.h10 {
  height: 10rem; }

.h20 {
  height: 20rem; }

.h30 {
  height: 30rem; }

.h40 {
  height: 40rem; }

.h50 {
  height: 50rem; }

.textInputLarge:focus {
  width: 22rem;
  transition: 0.1s;
  opacity: 1; }

.textInputLarge {
  opacity: 0.85;
  width: 20rem;
  border-radius: 0.25rem;
  background-color: #ffffff;
  font-size: 0.9rem;
  margin: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding: 0.7rem;
  border: none;
  font-weight: light !important;
  transition: 0.1s; }

.buttonLarge:hover {
  opacity: 1;
  width: 22rem;
  transition: 0.05s; }

.buttonLarge {
  opacity: 0.85;
  width: 20rem;
  border-radius: 0.25rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin: 0.25rem;
  font-size: 0.9rem;
  border: none;
  text-align: center;
  cursor: pointer;
  font-weight: light !important;
  transition: 0.1s; }

*:focus {
  outline: 0; }

input {
  font-weight: light; }

body {
  margin: 0 !important;
  padding: 0 !important; }

.spinner {
  height: 3rem;
  width: 3rem; }

.flex-col {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }

.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }

.h-full {
  height: 100%; }

.sk-circle {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  position: relative; }

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.login-bg {
  height: 100%;
  background-image: linear-gradient(#4b74b5, rgba(75, 116, 181, 0.6)), url("../assets/classroom1.jpg");
  background-size: cover;
  background-position: 0rem 0rem; }

.card-header {
  padding: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 29rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; }

.card-body {
  padding: 0.5rem;
  width: 28.9rem;
  border-left-width: 0.1rem;
  border-left-style: solid;
  border-left-color: #ccc;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  border-right-width: 0.1rem;
  border-right-style: solid;
  border-right-color: #ccc;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem; }

.br-0-25 {
  border-radius: 0.25rem; }

.sizeIcon {
  height: 30px;
  width: 30px; }

.sizeIconSmall {
  height: 20px;
  width: 20px; }

.p-0-25 {
  padding: 0.25rem; }

.p-0-5 {
  padding: 0.5rem; }

.textRight {
  text-align: right; }

.floatRight {
  float: right; }

.student-header {
  width: 100%;
  height: 25rem;
  background-image: linear-gradient(#4b74b5, rgba(75, 116, 181, 0.7)), url("../assets/classroom.jpg");
  background-size: cover;
  background-position: 0rem 0rem; }

.header {
  width: 100%;
  height: 23rem;
  background-image: linear-gradient(rgba(75, 116, 181, 0.9), rgba(75, 116, 181, 0.45)), url("../assets/classroom.jpg");
  background-size: cover;
  background-position: 0rem 0rem; }

.c-h {
  justify-content: center; }

.c-v {
  align-items: center; }

.p {
  cursor: pointer; }

.c {
  justify-content: center;
  align-items: center;
  text-align: center; }

.logo {
  height: 150px;
  width: 150px; }
